ion-content{
    --background: rgb(126 52 188);
}

.botonera{
  display: flex;  
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}

.titulo-principal{
  background-color: #ffc409;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 15px;
  font-size: x-large;
}

.card-container{
  background-color: #cf4890;
}

.subtitle{
  text-transform: capitalize;
  color: black;
  font-size: large;
}