<ion-header [translucent]="true" color="warning">
  <ion-toolbar color="warning">
    <ion-title>
      Elegí un nivel
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round">
        Cerrar sesión
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="container">

    <div class="contenedor-botones">
      
      <div class="boton-numero" (click)="elegirNivel(1)">        
          <ion-title class="ion-text-center" style="font-size:xx-large">Fácil</ion-title>
      </div>

      <div class="boton-numero" (click)="elegirNivel(2)">
        <ion-title class="ion-text-center" style="font-size:xx-large">Medio</ion-title>
      </div>

      <div class="boton-numero" (click)="elegirNivel(3)">
        <ion-title class="ion-text-center" style="font-size:xx-large">Difícil</ion-title>
      </div>
    </div>
    
  </div> 

</ion-content>

<!-- <ion-fab  horizontal="end" vertical="top">
  <ion-fab-button color="dark" title="Cerrar sesión">
    <ion-icon name="log-out-outline" color="warning"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
